@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');



* {
    margin: 0px;
    padding: 0px;
    transition: width .1s, height .1s;
    transition-timing-function: ease;
}

body {
    background-color: #c0e0eb75;
}

header {
    font-family: 'Raleway';
    position: relative;
    display: inline-block;
    width: 86vw;
    height: 290px;
    padding: 20px;
    background-color: blue;
    color: white;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
}

#text1 {
    margin-left: 5px;
}

img {
    margin-top: -20px;
    width: 220px;
    height: 330px;
    float: right;
    margin-right: 5px;
}

.tit {
    font-family: 'DM Serif Text';
    font-size: 2em;

}

h2 {
    margin-top: 10px;
    font-size: 1em;
    margin-bottom: 40px;
}

hr {
    margin-top: 20px;
}


p.sem {
    margin-top: 30px;
    margin-left: 10px;
    font-size: 0.8em;
}

a.botao {
    text-align: center;
    padding: 12px;
    font-family: 'DM Serif Text';
    background-color: azure;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #0099cc5e;
    color: black;
    font-size: 13px;
    cursor: pointer;
    transition-duration: 0.4s;
}

a.botao:hover {
    background-color: #008CBA;
    color: white;
}

.imp {
    font-family: 'DM Serif Text';
    font-size: 1.5em;
    text-align: center;
    margin-top: 30px;
}

section#text {
    font-family: 'Raleway';
    position: relative;
    display: inline-block;
    width: 86vw;
    height: 375px;
    padding: 20px;
    background-color: blue;
    color: white;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
}

#text2 {
    max-width: 200px;
    height: 400px;
    margin-left: 5px;
}

#fContato {
    font-family: 'Raleway';
    background-color: rgba(240, 248, 255, 0.795);
    color: black;
    margin-right: 15px;
    width: 202px;
    height: 334px;
    float: right;
    border-radius: 10px;
    padding: 10px;
}

legend {
    font-family: 'DM Serif Text';
    font-size: 1em;
    font-weight: bolder;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
}

label {
    font-family: 'Raleway';
    font-size: 1em;
    font-weight: bold;
}

.campo {
    font-family: 'Raleway';
    margin: 7px;
}

input {
    font-family: 'Raleway';
    width: 190px;
    height: 28px;
    border-radius: 10px;
    border-style: none;
}

.tit1 {
    font-family: 'DM Serif Text';
    font-size: 1em;
    margin-bottom: 20px;
    margin-top: 20px;
}

.tit2 {
    font-size: 0.8em;
}

p {
    font-size: .7em;
}

#botac {
    margin: 7px;
    width: 195px;
    height: 40px;
    font-family: 'DM Serif Text';
    color: white;
    background-color: #0099cc5e;
    border: #008CBA;
    border-radius: 20px;
    font-size: 1em;
    cursor: pointer;
    transition-duration: 0.4s;

}

#botac:hover {

    color: black;
    background-color: #008CBA;

}

footer#rodape {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-size: 1em;
    font-family: 'Raleway';
}