@charset "UTF-8";


div#album{
    position: relative;
    display: inline-block;
    width: 100vw;
}

ul#album-fotos {
    max-width: 900px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
    text-align: center;
}

ul#album-fotos li {
    float: left;
    width: 120px;
    height: 220px;
    margin: 10px;
    border: 1px solid white;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
}

ul#album-fotos li span {
    opacity: 0;
}

ul#album-fotos li#foto01 {
    background: url('../imagens/fotoum.jpeg') no-repeat;
    background-position: 50% 50%;
    background-size: 120px 220px;
}

ul#album-fotos li#foto01:hover {
    background-position: 0px 0px;
    box-shadow: 0 4px 4px #999;
    transition: all 0.6s;
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

ul#album-fotos li#foto02 {
    background: url('../imagens/fotodois.jpeg') no-repeat;
    background-position: 50% 50%;
    background-size: 250px 350px;
}

ul#album-fotos li#foto02:hover {
    background-position: 0px 0px;
    box-shadow: 0 4px 4px #999;
    transition: all 0.6s;
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

ul#album-fotos li#foto03 {
    background: url('../imagens/fototres.jpeg') no-repeat;
    background-position: 50% 50%;
    background-size: 250px 350px;
}

ul#album-fotos li#foto03:hover {
    background-position: 0px 0px;
    box-shadow: 0 4px 4px #999;
    transition: all 0.6s;
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

ul#album-fotos li#foto04 {
    background: url('../imagens/fotoquatro.jpeg') no-repeat;
    background-position: 50% 50%;
    background-size: 250px 350px;
}

ul#album-fotos li#foto04:hover {
    background-position: 0px 0px;
    box-shadow: 0 4px 4px #999;
    transition: all 0.6s;
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

ul#album-fotos li#foto05 {
    background: url('../imagens/fotocinco.jpeg') no-repeat;
    background-position: 50% 50%;
    background-size: 250px 350px;
}

ul#album-fotos li#foto05:hover {
    background-position: 0px 0px;
    box-shadow: 0 4px 4px #999;
    transition: all 0.6s;
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

ul#album-fotos li#foto06 {
    background: url('../imagens/fotoseis.jpeg') no-repeat;
    background-position: 50% 50%;
    background-size: 250px 350px;
    position: relative;
}

ul#album-fotos li#foto06:hover {
    background-position: 0px 0px;
    box-shadow: 0 4px 4px #999;
    transition: all 0.6s;
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}