@charset "utf=8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    header {
        width: 91vw;
        height: 350px;
    }

    img {
        width: 290px;
        height: 390px;
        margin-right: 60px;
    }

    #text1 {
        margin-top: 30px;
        margin-left: 60px;
    }

    h2 {
        margin-bottom: 50px;
        font-size: 1em;
    }

    p.sem {
        margin-top: 50px;
        margin-left: 5px;
        font-size: 0.9em;
    }

    a.botao {
        padding: 18px;
        font-size: 16px;
    }

    div#album {
        width: 86vw;
    }

    section#text {
        width: 91vw;
        text-align: center;
    }

    #text2 {
        max-width: 250px;
        margin-left: 80px;
    }

    #fContato {
        margin-right: 40px;
        width: 290px;
        height: 340px;
    }

    legend {
        font-size: 1.2em;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .campo {
        margin: 15px;
    }

    input {
        width: 200px;
        height: 30px;
    }

    .tit1 {
        font-size: 2em;
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .tit2 {
        font-size: 1em;
    }

    p {
        font-size: .8em;
    }

    #botac {
        margin-left: 50px;
        width: 200px;
        height: 50px;

    }

    ul#album-fotos {
        padding: 80px;
    }

    ul#album-fotos li {
        width: 200px;
        height: 230px;
    }

}

@media screen and (min-width: 992px) {

    header {
        width: 89vw;
        height: 380px;
        margin-left: 50px;
        margin-top: 10px;
        text-align: center;
    }

    img {
        width: 285px;
        height: 420px;
        margin-right: 180px;
    }

    #text1 {
        margin-top: 25px;
        margin-left: 200px;

    }

    .tit {
        font-size: 3em;

    }

    h2 {
        margin-top: 20px;
        font-size: 1.2em;

    }

    p.sem {
        margin-top: 40px;
        font-size: 0.9em;

    }

    a.botao {
        padding: 18px;
        font-size: 16px;
    }

    div#album {
        width: 95vw;
    }

    section#text {
        width: 89vw;
        text-align: center;
        margin-right: -300px;
        margin-left: 50px;
    }

    #text2 {
        max-width: 285px;
        margin-left: 150px;
    }

    #fContato {
        margin-right: 115px;
        width: 295px;
        height: 340px;
    }

    legend {
        font-size: 1.2em;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .campo {
        margin: 15px;
    }

    input {
        width: 200px;
        height: 30px;
    }

    .tit1 {
        font-size: 2em;
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .tit2 {
        font-size: 1em;
    }

    p {
        font-size: .8em;
    }

    #botac {
        margin-left: 50px;
        width: 200px;
        height: 50px;

    }

    ul#album-fotos {
        padding: 70px;

    }

    ul#album-fotos li {
        width: 250px;
        height: 290px;
    }

}